*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: #1e1e1e;
    font-family: sans-serif;
    color: #a0a0a0;
    line-height: 1.6;
}

.main_container{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 350px 1fr;
    gap: 40px;
    padding-top: 60px;
    margin: auto;

}
/* --------------------------------Sidebar Content---------------------*/
.sidebar{
    height: 90vh;
    background-color: #2a2a2a;
    border: 2px solid #3a3a3a;
    border-radius: 15px;
    padding: 40px;
    position: sticky;
    top: 40px;
}

.main_content{
    padding: 40px;
    height: auto;
    background-color: #2a2a2a;
    border: 2px solid #3a3a3a;
    border-radius: 15px;
}
/*--profile section css -------*/
.profile{
    text-align: center;
}

.profile img{
    width: 100px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #3a3a3a;
}

.profile h2{
    font-size: 1.5rem;
    font-weight: 700px;
    margin-top: 20px;
    color: #e0e0e0;
}

.profile span{
    background-color: #1e1e1e;
    padding: 5px 15px;
    color: #ffbf00;
    border: 1px solid #3a3a3a;
    font-size: 0.8rem;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;
}
/*----------------------------start Contact section---------------------------------*/
.contact{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
}

.lable{
    font-weight: 500;
    font-size: 0.8rem;
    color: #a0a0a0;
}

.value{
    color: #e0e0e0;
    text-decoration: none;
}
.email,.phone{
    margin-bottom: 15px;
}
/* --------social icons --------------------------*/

.social_icons{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
    text-align: center;
}

.social_icons img{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    filter: grayscale(1) invert(0.7);
    transition: 0.3s ease;
}

.social_icons img:hover{
    filter: grayscale(0) invert(0);   
}

/*---------------------------- Main Content start heare --------------------------*/

/* -------------navigation bar ----------*/
.navigation{
    border-bottom: 2px solid #3a3a3a;
    margin-bottom: 20px;
    padding-bottom: 20PX;
}
.navigation nav{
    display: flex;
    justify-content: end;
    gap: 20px;
}

.navigation nav a{
    text-decoration: none;
    font-weight: 500;
    color: #a0a0a0;
    transition: 0.3 ease;
}
.navigation nav a:hover{
    color: #ffbf00;
}

.navigation nav .active{
    color: #ffbf00;
}
/* -----start about me section ----------*/
.about{ 
    margin-bottom: 40px;
}
.heading{
    color: #e0e0e0;
    margin-bottom: 15px;
}

.line{
    width: 60px;
    height: 5px;
    background-color: #ffbf00;
    margin-bottom: 15px;
}

.content{
    text-align: justify;
}

/* -----  Skills section css  ---------------------*/

.grid_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 40px;
}

.item{
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #3a3a3a;
    text-align: center;
    background-color: #1e1e1e;
    transition: 0.3s ease;
    box-shadow: 0.3s ease;
    margin-top: 20px;
}
.item:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.item img{
    width: 50px;
    height: 50px;
    filter: invert(75%) sepia(50%) saturate(1000%) hue-rotate(350deg) brightness(105%) contrast(110%);
    margin-bottom: 15px;
}

.item h3{
    font-size: 1rem;
    font-weight: 500;
}

/* -----------Strat Education Section Css ------------------------------------------------*/
.education{
    margin-top: 30px;
}
.education_details{
    padding-left: 20px;
    position: relative;
}

.year{
    font-size: 0.9rem;
    color: #a0a0a0;
    margin-bottom: 5px;
}

.degree{
    color: #e0e0e0;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.university{
    font-style: italic;
    color: #a0a0a0;
    margin-bottom: 10px;
}

.focus_areia{
   margin-bottom: 20px; 
}

.pg_diploma, .post_graduation, .graduation{
     position: relative;
     margin-bottom: 30px;
}

.circle{
    width: 10px;
    height: 10px;
    border: 3px solid #ffbf00;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: -20px;
    z-index: 2;
}

.liner{
    position: absolute;
    width: 1px;
    top: 0px;
    bottom: 0px;
    border: 2px solid #3a3a3a;
    left: 2px;
}

/*-----------------------Start Portfolio Section CSS ---------------------------------*/

.project_container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.project{
    background-color: #1e1e1e;
    border-radius: 12px;
    border: 1px solid #3a3a3a;
    overflow: hidden;
    transition: 0.5s ease;
    box-shadow: 0.5s ease;
}

.project:hover{
    transform: translateY(-10px);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
}

.project img{
    height: 180px;
    width: 100%;
    object-fit: cover;
}

.project .card{
    padding: 20px;
}

.project .card h3{
    color:#e0e0e0;
    margin-bottom: 10px;
}

.project .card p{
    color: #a0a0a0;
    line-height: 1.6;
    text-align: start;
    margin-bottom: 15px;
}

.project .card span{
    background-color: rgba(255,191,0,0.1);
    color: #ffbf00;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 0.75rem;
    margin-right: 5px;
}

/* ---------------Responsive Design ----------------*/
@media screen and (max-width:768px) {
    .main_container{
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .sidebar{
        position: static;
        height: auto;
    }
}

